{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCours</th>
                <th>Duree</th>
                <th>Date_cours</th>
                <th>Description</th>
                <th>Tarif</th>
                <th>Date_limite_inscription</th>
                <th>NbInscriptionMax</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.nomCours }}</td>
                <td>{{ cour.duree }}</td>
                <td>{{ cour.dateCours ? cour.dateCours|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.tarif }}</td>
                <td>{{ cour.DateLimiteInscription ? cour.DateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.nbInscriptionMax }}</td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Create new</a>
{% endblock %}
