{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>NomCours</th>
                <td>{{ cour.nomCours }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ cour.duree }}</td>
            </tr>
            <tr>
                <th>Date_cours</th>
                <td>{{ cour.dateCours ? cour.dateCours|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ cour.tarif }}</td>
            </tr>
            <tr>
                <th>Date_limite_inscription</th>
                <td>{{ cour.DateLimiteInscription ? cour.DateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbInscriptionMax</th>
                <td>{{ cour.nbInscriptionMax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
