<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture #{{ paiement.id }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 90%;
            margin: 0 auto;
        }
        header {
            margin-bottom: 20px;
        }
        .footer {
            text-align: center;
            margin-top: 150px;
        }
        .header-details h1 {
            margin: 0;
            font-size: 24px;
        }
        .invoice-details {
            margin-bottom: 30px;
        }
        .invoice-details th, .invoice-details td {
            text-align: left;
            padding: 8px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 150px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        .totals {
            margin-top: 20px;
            text-align: right;
        }
        .totals strong {
            font-size: 16px;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header -->
    <header>
        <div class="header-details">
            <h1>Kiné Sport Santé</h1>
            <p>3 rue de Rennes 35310 Mordelles</p>
            <p>test | test@test.fr</p>
            <p>SIRET : test</p>
        </div>
    </header>

    <!-- Invoice Information -->
    <section class="invoice-details">
        <p><strong>Date de la facture :</strong> {{ "now"|date("m/d/Y") }}</p>
        <p><strong>Numéro de la facture :</strong> #{{ paiement.id }}</p>
        <p><strong>Client :</strong> {{ app.user.prenom }} {{ app.user.nom }}</p>
    </section>

    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Quantité</th>
            <th>Prix HT</th>
            <th>Prix TTC</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ paiement.pack.nom }}</td>
                <td>1</td>
                <td>{{ ((paiement.pack.tarif - (paiement.pack.tarif * 20 / 100)) / 100)|number_format(2, ',', ' ') }}</td>
                <td>{{ (paiement.pack.tarif / 100)|number_format(2, ',', ' ') }}</td>
            </tr>
        </tbody>
    </table>

    <div class="totals">
        <p><strong>Sous-total :</strong> {{ ((paiement.pack.tarif - (paiement.pack.tarif * 20 / 100 ))/ 100)|number_format(2, ',', ' ')  }} €</p>
        <p><strong>TVA (20%) :</strong> {{ ((paiement.pack.tarif * 20 / 100)/ 100)|number_format(2, ',', ' ') }} €</p>
        <p><strong>Total à payer :</strong> {{ (paiement.pack.tarif/ 100)|number_format(2, ',', ' ') }} €</p>
    </div>

    <footer class="footer">
        <p>Merci pour votre confiance !</p>
        <p>En cas de questions, contactez-nous à test@test.fr</p>
    </footer>
</div>
</body>
</html>
